rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if user is admin
    function isAdmin() {
      return request.auth != null && 
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Appointments collection
    match /appointments/{appointmentId} {
      allow create: if true;
      allow read, update, delete: if true; // In production, restrict this to admin only
    }

    // Blog Posts collection
    match /blog_posts/{postId} {
      allow read: if true;
      allow write: if true; // In production, restrict this to admin only
    }

    
    // Admins collection (Managed by superuser)
    match /admins/{adminId} {
      allow read: if request.auth != null;
      allow write: if false; // Locked from frontend
    }
  }
}
