.hero {
  position: relative;
  overflow: hidden;
}

/* Base styles for Hero component */
.hero:global(.container-luxury) {
  position: relative;
  z-index: 10;
}

/* Additional animations and specific styles if needed */
@media (max-width: 1023px) {
  .hero {
    padding-top: 100px;
  }
}